.general_background {
    background-color: #CAECF5;
    min-height: 1080px;
    overflow: auto;
}

.navbar_style {
    padding: 10px;
    border-bottom: 1px solid #497982;;
}

.brand {
    height: 35px;
    width: 35px;
}

.user {
    margin: 0;
}

.greeting {
    text-align: center;
}